* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(37, 37, 37);
  color: white;

  display: grid;
  place-items: center;

  height: 100vh;
}

.container {
  background-color: brown;
  width: 500px;
  height: 500px;

  display: grid;
  place-items: center;
  
 
  /* animation: container-animation 1s infinite forwards; */
}

.container h1 {
  font-size: 30px;

 
 
/* 
  animation: text 1s infinite forwards; */
}

@keyframes text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes container-animation {
  0% {
    transform:translateX(60px);
  }

  50% {
    transform:translateX(120px);
  }

  100%{
    transform: translateX(-120px);
  }
}
